body {
	label {
		display: block;
		padding-bottom: 5px;
	}
	.input {
		border: 1px solid #ddd;
		border-radius: 1px;
		box-sizing: border-box;
		display: block;
		margin: 0 0 10px;
		padding: 10px 15px;
		width: 100%;
	}
	form {
		position: absolute;
		right: 0px;
		top: 200px;
		padding: 50px;
		width: 30%;
	}
	.button {
		background: #eee;
		border: 1px solid #ddd;
		border-radius: 3px;
		color: #fff;
		background-color: #238636;
		border-color: #2ea043;
		display: inline-block;
		margin: 0 0 10px;
		padding: 10px 15px;
		text-decoration: none;
		width: 100%;
	}

	.button:hover {
		background-color: #2ebc4f;
	}
}
.about {
	h1 {
		color: #3A0;
	}
}
